# Eclipse
.metadata/
.classpath
.project
.settings/

# Maven
target/
*.iml

# Gradle
build/
.gradle/

# IntelliJ IDEA
.idea/

# NetBeans
nbproject/private/
build/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
log/

# Temporary files
*.tmp
*.swp

# Compiled Java classes
*.class

# Package Files #
*.jar
*.war
*.ear

# Bytecode directories
bin/
